extends layout

block content
    .page-header
        h1 Admin interface
             small  Visual interface for WoTcs.com clans API server

    include mixins

    if error
        .alert.alert-danger= error
    else
        small * Average of last 10 requests
        .row
            mixin loaderThread('EU1', EU1, 'EU <small>(Thread #1)</small>')
            mixin loaderThread('EU2', EU2, 'EU <small>(Thread #2)</small>')
            mixin loaderThread('NA', NA, 'NA')
            mixin loaderThread('RU-SEA-KR', locals['RU-SEA-KR'], 'RU/SEA/KR')
        script.
            APIData = {key: '!{key}', secret: !{secret}}