block event_template
    .list-group-item
        | (!{event.clan.region})
        i= ' '+event.name
        if ch == 1
            |  joined clan
        else
            |  left clan
        b  [#{event.clan.tag}]
        =  ' ' + event.clan.name