@import "bootstrap/bootstrap";

.list-group.condensed {
  font-size: 0.9em;
}

.list-group-item-danger {
  color: @state-danger-text;
  background-color: @state-danger-bg;
  border-color: @state-danger-border;
}